[Unit]
Description=Walker Application Launcher Service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment="PATH=%h/.local/share/dotfiles/bin:%h/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/bin/walker --gapplication-service
Restart=on-failure

[Install]
WantedBy=graphical-session.target
